if productsList == ""
    h4(class="mt-4") No hay productos agregados
else
    h4(class="mt-4") Lista de Productos
    table(class="table table-striped table-hover")
        thead(class="bg-warning")
            tr
                th(scope="col") ID
                th(scope="col") Título
                th(scope="col") Precio
                th(scope="col") Imagen 
        tbody(class="bg-light")
            each product in productsList
                tr
                    th(scope="row")= product.id
                    td=product.title
                    td=product.price 
                    td
                        img(src=product.thumbnail, alt=product.title, width="25")
            